.reports-container {
    position: relative;
    overflow: hidden;
}

.reports-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 48px;

    li {
        padding: 0;
        overflow: hidden;
        position: relative;

        &:nth-child(even) {
            background-color: #f2f2f2;
        }
    }

    img {
        width: 48px;
        height: 48px;
        margin: 0 24px;
        vertical-align: middle;
        position: relative;
        border-radius: 50%;
    }
}

.name-container {
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.name-display {
    display: block;
}

.rating-display {
    font-size: 16px;
    color: #777;
}

.diff-display {
    font-size: 16px;
    opacity: 0.8;
}

.time-container {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #777;
    font-size: 16px;
}

.winner-container,
.loser-container {
    width: 50%;
    float: left;
    position: relative;
    padding: 12px 24px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.score-display {
    position: absolute;
    top: 5px;
    font-family: 'Roboto Slab';
}

.winner-container {
    .score-display {
        text-align: right;
        right: 0;

        &::after {
            content: "-";
        }
    }
    .diff-display {
        color: green;
        margin-left: 5px;
        &::before {
            content: '+';
        }
    }
}

.loser-container {
    text-align: right;
    .score-display {
        text-align: left;
        left: 0;
    }
    .diff-display {
        margin-right: 5px;
        color: red;
    }
}