$bg-primary: #f3f3f3;
$bg-secondary: #fff;

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Lato:400,300,700);

/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

body {
    background-color: $bg-primary;
    font-family: Lato;
    font-size: 20px;
}

.container {
    background-color: $bg-secondary;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), 0px 1px 4px rgba(0,0,0,0.1);
    position: relative;

    > div > div {
        padding-top: 48px;
    }
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 100;

    li {
        width: 50%;
        float: left;
        display: block;
        border-top: 3px solid transparent;
        text-align: center;

        &.active {
            border-top-color: #FD5645;
            a {
                color: #FD5645;
            }
        }

        a {
            line-height: 45px;
            width: 100%;
            display: inline-block;
            color: black;
            text-decoration: none;

            &:hover {
                color: #FD5645;
            }
        }
    }
}


/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
